BR2_TARGET_GENERIC_HOSTNAME="zero_w"
BR2_TARGET_GENERIC_ISSUE="Welcome to the zero_w board"

# board/compiler target setup
BR2_aarch64=y
BR2_cortex_a53=y

# Rock-Chip repos - mostly for sdcard image generation
BR2_PACKAGE_RKBIN=y

# post build sdcard image generaton
#BR2_ROOTFS_POST_BUILD_SCRIPT="$(CUSTOM_RADXA_ZEROW)/ board/RK3566.cm3/post-build.sh"
#BR2_ROOTFS_POST_IMAGE_SCRIPT="$(CUSTOM_RADXA_ZEROW)/ board/RK3566.cm3/post-image.sh"

# Filesystems
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="250M"
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y

# u-boot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_USE_DEFCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/radxa/u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="radxa-zero-v2021.07"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="radxa-zero"
BR2_TARGET_UBOOT_FORMAT_BIN=y
BR2_TARGET_UBOOT_FORMAT_IMG=n
BR2_TARGET_UBOOT_FORMAT_ITB=y
BR2_TARGET_UBOOT_SPL=y
#BR2_TARGET_UBOOT_USE_CUSTOM_CONFIG="$(CUSTOM_RADXA_ZEROW)/board/zerow_defconfig"
#BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="$(CUSTOM_RADXA_ZEROW)/board/RK3568/uboot.fragment"
BR2_PACKAGE_HOST_DTC=y

# linux
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_LATEST_VERSION=y

#BR2_LINUX_KERNEL_CUSTOM_GIT=y
#BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/torvalds/linux.git"
#BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="f0ed445e7397e386264d4752a5eb5d2dfc7f7fd2"

BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="rockchip_linux"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="amlogic/meson-g12a-radxa-zero"
BR2_KERNEL_HEADERS_AS_KERNEL=y

#BR2_KERNEL_HEADERS_6_10=y


BR2_LINUX_KERNEL_PATCH=""
BR2_LINUX_KERNEL_CUSTOM_LOGO_PATH=""
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_IMAGE=y
BR2_LINUX_KERNEL_GZIP=y
BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y

# configure the place to source patches, the busybox frament, overlays
#BR2_GLOBAL_PATCH_DIR="$(CUSTOM_RADXA_ZEROW)/patches.cm3"
#BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(CUSTOM_RADXA_ZEROW)/board/RK3566.cm3/busybox.fragment"
BR2_ROOTFS_OVERLAY="$(CUSTOM_RADXA_ZEROW)/overlays"

# where to store downloads
BR2_DL_DIR="$(BASE_DIR)/../../buildroot.dl"

# An example kernel module and devicetree overlay
#BR2_PACKAGE_EXAMPLE_MODULE_OVERLAY=y
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(CUSTOM_RADXA_ZEROW)/board/S905Y2/kernel.fragments"

# external packages
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDATE=y

BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_OPENSSH_SERVER=y
BR2_PACKAGE_OPENSSH_CLIENT=y
BR2_SYSTEM_DHCP="eth0"
BR2_PACKAGE_AVAHI=y
BR2_PACKAGE_AVAHI_DAEMON=y
BR2_PACKAGE_MDNS=y
